@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
@import "./animations.css";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;

  /* font */
  --font-primary: "Lora", sans-serif;

  /* colors */
  --color-primary: #5e7e99;
  --color-secondary-dark: #753d23;
  --color-secondary-light: #b2a08d;
  --color-tertiary: #d9dfec;
}

:root {
  --header-height: 68px;
  --footer-height: 64px;
  @media (min-width: theme(--breakpoint-md)) {
    --header-height: 92px;
    --footer-height: 64px;
  }
}

@layer components {
  body {
    font-family: "Lora", sans-serif;
    background-color: var(--color-tertiary);
    /* background-image: url("../images/background.png");
    background-repeat: repeat; */
  }

  :focus-visible {
    outline: var(--color-focus) auto 1px;
    outline-offset: 4px;
    transition: none !important;
  }
}

@layer utilities {
  .image-cover {
    @apply absolute inset-0 h-full w-full object-cover [&>img]:h-full [&>img]:w-full [&>img]:object-cover [&>img]:object-center;
  }
}
